# Git
.git
.gitignore

# Python / Local Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment Variables (Secrets!)
.env
app/.env

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Database Data
postgres_data/

# IDE Settings
.vscode/
.idea/

# Testing & Coverage artifacts
.pytest_cache/
.coverage
htmlcov/
tests/